{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="row contact-container">
        <div class="col-12 col-md-6 my-5 contact-boxes">
            <h2>What's on your mind?</h2>
            <p>Have questions about my blog and the longdogs in Bluey?
                Want to tell me about a longdog I haven't written about or found yet
                then please feel free to contact me!
            </p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">
                    <form method="post">
                        {% csrf_token %}
                        {{ contact_form|crispy }}
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}