
.bg-white {
    background-image: linear-gradient(white, #d9ebeb);
    background-color: white;
}

.h-100 {
    background-color: #d9ebeb;
    width: 100%;
}

.navbar-brand {
    width: 75%;
}

.navbar-light,
.navbar-text {
    margin: 25px;
    font-size: 115%;
    border-radius: 25px 25px 0px 0px;
    padding: 5px 5px;
}

.text-end {
    padding-right: 25px;
}

hr {
    background-color: #365050;
    margin: 10px;
}

.created-on {
    color: #000 !important;
    padding-bottom: 5px;
}

.flex-shrink-0 {
    background-color: #d9ebeb;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: #914D57;
}

.index-post-card {
    background-color:#4f968c;
    border-radius: 25px;
}

.index-post-card:hover {
    background-color: #a4c5c5;
    opacity: 70%;
    transition-duration: 1s;
}

.card {
    background-color: #d9ebeb;
    border: none;
}

.card-title {
    color: #365050;
    background-color: #afd9d3;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 0px 25px 25px 0px;
    margin-left: -18px;
}

.card-title-likes {
    color: #1b1b1b;
    width: fit-content;
    padding: 5px 15px;
    text-align: center;
    margin: auto;
}

.card-text {
    width: 100%;
}

.card-title-liked-posts {
    color: #000000;
    background-color: #afd9d3;
    width: fit-content;
}

.card-img-top {
    border-radius: 25px;
}

.comment-like-count {
    display: grid;
    justify-content: end;
}

.post-author {
    width: fit-content;
    color: #000;
    background-color: #afd9d3;
    border-radius: 0px 25px 25px 0px;
    padding: 5px 10px 5px 10px;
    margin-left: -30px;
}

.author {
    width: fit-content;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    background-color: #afd9d3;
    color: #2b2b2b;
    border-radius: 0px 25px 25px 0px;
    padding: 5px 10px 5px 10px;
    margin-top: -70px;
    margin-left: -3px
}

.longdog-collapse {
    margin-top: 10px;
    margin-left: -10px
}

.about-profile-img {
    border-radius: 25px;
    padding: 15px;
}

.masthead-container {
    color: #ffffff;
    background-color: #4f968c;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: -1px;
}

.masthead-container-img {
    width: 98%;
    display: grid;
    border-radius: 25px;
    margin: auto;
    justify-content: center;
}

.post-title, .post-subtitle {
    margin-left: 10px;
    color: #1b1b1b;
}

.post-content-container {
    color: #ffffff;
    background-color: #4f968c;
    border-radius: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.post-content-text {
    width: 95%;
    margin: auto;
    justify-content: center;
    background-color: #76b5ac78;;
    color: #ffffff;
    border-radius: 25px;
}

.modal-content {
    color: #365050;
}

.display-comments h3 {
    margin-top: 10px;
}

.display-comments {
    border: none;
    color: #ffffff;
    background-color: #2e5a5485;
    border-radius: 25px 0px 0px 25px;
}

.creating-comment {
    border: none;
    color: #ffffff;
    background-color: #2e5a5485;
    border-radius: 0px 25px 25px 0px;
}

.comment-count {
    margin-left: 10px;
    width: fit-content;
    font-size: 20px;
    color: white !important;
}

.like-count {
    font-size: 20px;
    color: white !important;
    display: contents;
    padding-right: 10px;
}

.comment-author {
    font-size: 16px;
    width: fit-content;
    background-color: #233535be;
    border-radius: 0px 25px 25px 0px;
    padding: 5px 10px 5px 10px;
    margin-left: -38px;
    color:#ffffff;
}

.comment-row {
    margin: auto;
    width: 100%;
    padding: 0px;
}

.comment-count-index {
    font-size: 140%;
    margin-top: -31px;
    margin-right: 10px;
    display: grid;
    justify-content: right;
}

.contact-container {
    margin: auto;
    justify-content: center;
}

.sign-in-container,
.sign-out-container,
.sign-up-container,
.about-container,
.contact-container {
    background-color: #4f968c;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    padding: 20px
}

.liked-posts-container {
    width: 50%;
    background-color: #4f968c;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    padding: 20px
}

.sign-in-container label,
.sign-out-container label,
.sign-up-container label {
    display: grid;
}

.alert-dismissible {
    background-color:#914D57;
    color: white;
}

.link {
    color: #c04c5d;
}

.btn {
    background-color: #914D57;
    color: #ffff;
    border-width: 2px;
    border-radius: 10px;
    border-color: #af6c76;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #ce919b;
    color: #000000;
    border-width: 2px;
    border-radius: 10px;
    border-color: #914D57;
    margin-bottom: 10px;
}

.footer {
    background-color: #4f968c;
}

img.col-1 {
    max-height: 80px;
    max-width: 80px;
    min-height: 55px;
    min-width: 55px;
    margin-bottom: 3px;
}


@media screen and (max-width: 576px){
    .navbar-light,
    .navbar-text {
        margin: 0px;
        padding: 0px;
    }
    .contact-boxes {
        width: 90%;
    }
    .sign-in-container,
    .sign-up-container,
    .about-container,
    .contact-container {
        width: 100%;
    }
    .sign-out-container {
        width: 80%;
    }
    .author {
        display: none;
    }
    #submitButton {
        font-size: 15px;
    }
}

@media screen and (min-width: 576px){
    .contact-boxes {
        width: 80%;
    }
    .sign-in-container,
    .sign-up-container,
    .about-container,
    .contact-container {
        width: 60%;
    }
    .sign-out-container {
        width: 40%;
    }
}

@media screen and (max-width: 768px){
    .display-comments {
        border-radius: 25px 25px 0px 0px;
    }
    .creating-comment {
        margin-top: -25px;
        border-radius: 0px 0px 25px 25px;    
    }
    .navbar-light,
    .navbar-text {
        font-size: 100%;
        margin: 0;
        border-radius: 0px;
    }

@media screen and (max-width: 992px){
}

@media screen and (min-width: 992px){
    .post-container {
        max-width: 950px;
    } 
}


    
}