.flex-shrink-0 {
    background-color: #e9f0f0;
    padding-bottom: 50px;
}

.author {
    position: relative;
    background-color:#4f968c;
    color: #ffff;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: -10px;
}

.longdog-collapse {
    margin-top: 10px;
    margin-left: -10px
}

.about-profile-img {
    border-radius: 50px ;
}

.post-container {
    width: 95%;
    background-color: #4f968c;
    border-radius: 25px;
    padding-bottom: 5px;
}

.link {
    color: #914D57;
}

.btn {
    background-color: #914D57;
    color: #ffff;
    border-width: 5px;
    border-radius: 25px;
    border-color: #af6c76;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #ce919b;
    color: #000000;
    border-width: 5px;
    border-radius: 25px;
    border-color: #914D57;
    margin-bottom: 10px;
}

.footer {
    background-color: #4f968c;
}

img.col-1 {
    max-height: 80px;
    max-width: 80px;
    min-height: 55px;
    min-width: 55px;
    margin-bottom: 3px;
}

.navbar-light .navbar-text {
    margin: 25px;
    font-size: 115%;
}

@media screen and (max-width: 992px){
    .navbar-light .navbar-text {
    font-size: 100%;
    margin: 0;
    }
}

@media screen and (min-width: 992px){
    .post-container {
        max-width: 760px;
    }
}

@media screen and (max-width: 576px){
    .post-container {
        margin: 10px;
    }    
}
