.bg-white {
    background-image: linear-gradient(white, #d9ebeb);
    background-color: white;
}

hr {
    background-color: #365050;
}

.flex-shrink-0 {
    background-color: #d9ebeb;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
}

.index-post-card {
    background-color: #4f968cb4;
    color: #ffffff;
}

.card-body:hover {
    background-color: #a4c5c5;
    opacity: 70%;
    transition-duration: 1s;
}

.card-title {
    color: #000000ad;
}

.card-img-top {
    border-radius: 25px;
}

.author {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    background-color: #afd9d3;
    color: #2b2b2b;
    border-radius: 25px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -30px;
}

.longdog-collapse {
    margin-top: 10px;
    margin-left: -10px
}

.about-profile-img {
    border-radius: 50px ;
}

.masthead-container {
    color: #ffffff;
    background-color: #4f968c;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.masthead-container-img {
    width: 98%;
    display: grid;
    border-radius: 25px;
    margin: auto;
    justify-content: center;
}

.post-content-container {
    color: #ffffff;
    background-color: #4f968c;
    border-radius: 0px 0px 25px 25px;
    padding-bottom: 5px;
}

.post-content-text {
    width: 95%;
    margin: auto;
    justify-content: center;
    background-color: #76b5ac78;;
    color: #ffffff;
    border-radius: 25px;
}

.display-comments h3 {
    margin-top: 10px;
}

.display-comments {
    border: none;
    color: #ffffff;
    background-color: #2e5a5485;
    border-radius: 25px 0px 0px 25px;
}

.creating-comment {
    border: none;
    color: #ffffff;
    background-color: #2e5a5485;
    border-radius: 0px 25px 25px 0px;
}

.comment-count {
    color: #ffffff !important;
}

.comment-row {
    margin: auto;
    width: 98%;
}

.comment-count-index {
    font-size: 140%;
    margin-top: -31px;
    margin-right: 10px;
    display: grid;
    justify-content: right;
} 

.like-count {
    color: #ffffff !important;
    padding-left: 10px;
}

.link {
    color: #914D57;
}

.btn {
    background-color: #914D57;
    color: #ffff;
    border-width: 2px;
    border-radius: 10px;
    border-color: #af6c76;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #ce919b;
    color: #000000;
    border-width: 2px;
    border-radius: 10px;
    border-color: #914D57;
    margin-bottom: 10px;
}

.footer {
    background-color: #4f968c;
}

img.col-1 {
    max-height: 80px;
    max-width: 80px;
    min-height: 55px;
    min-width: 55px;
    margin-bottom: 3px;
}

.navbar-light .navbar-text {
    margin: 25px;
    font-size: 115%;
}

@media screen and (max-width: 992px){
    .navbar-light .navbar-text {
        font-size: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 992px){
    .post-container {
        max-width: 950px;
    }
}

@media screen and (max-width: 768px){
    .display-comments {
        border-radius: 25px 25px 0px 0px;
        padding-bottom: 40px;
    }
    
    .creating-comment {
        margin-top: -25px;
        border-radius: 0px 0px 25px 25px;
        
    }

    
}