{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row justify-content-center">
                {% for post in post_list %}
                <div class="col-md-6 m-1 col-sm-9">
                    <div class="card mb-4">
                        <div class="card-body index-post-card">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <div class="image-container">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <div class="row">
                                    <div class="col-12">
                                      <strong class="comment-count">
                                        {% if post.comment_count > 0 %}
                                            <i class="far fa-comments"></i> {{ post.comment_count }}
                                        {% else %}
                                            <i class="far fa-comments"></i> {{ post.comment_count }}
                                        {% endif %}
                                      </strong>
                                      
                                      <!-- Like Counts -->
                                      <strong class="like-count">
                                        {% if post.number_of_likes > 0 %}
                                            <i class="far fa-heart"></i> {{ post.number_of_likes }}
                                          {% else %}

                                            <i class="far fa-heart"></i> {{ post.number_of_likes }}
                                          {% endif %}
                                      </strong>
                                    </div>
                                </div>
                                <hr />
                                {% if post.season != None %}
                                    <p class="card-text text-muted h6 created-on">
                                        {{ post.created_on}}  ||  Season {{ post.season }} Episode {{ post.episode }}</p>
                                {% else %}
                                    <p class="card-text text-muted h6 created-on">
                                        {{ post.created_on}}</p>
                                {% endif %}
                                
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static '/images/blog_images/File-01-color-1.png' %}"
                                    alt="image displayed on index from blogpost">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                    alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author ">Author: {{ post.author }}</p>
                                    
                                </div>
                            </div>
                                
                            
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row justify-content-center">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                class="page-link btn">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}

